.Toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    margin: 0px 0px;
    background-color: tan;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 90;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%;

}

.Logo {
    height: 80%;
}

@media(max-width:499px) {
    .DesktopOnly {
        display: none;
    }

}