.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom:  4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover ,
.NavigationItem a:active ,
.NavigationItem a.active {
    background-color:firebrick ;
    border-bottom: 4px solid rgb(14, 13, 13);
    color: white;
}